{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>

   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td><h4><b>Заголовок</b></h4></td>
               <td><h4><b>Дата публикации</b></h4></td>
               <td><h4><b>Статья</b></h4></td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.title|censor }}</td>
               <td>{{ new.time_in|date:'M d Y H i' }}</td>
               <td>{{ new.text|censor|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}